@font-face 
  font-family: 'elm-icon'
  src:  url('../fonts/elm-icon.eot?jfusi')
  src:  url('../fonts/elm-icon.eot?jfusi#iefix') format('embedded-opentype'),
    url('../fonts/elm-icon.ttf?jfusi') format('truetype'),
    url('../fonts/elm-icon.woff?jfusi') format('woff'),
    url('../fonts/elm-icon.svg?jfusi#elm-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block
  font-family: 'elm-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-arrow_left:before 
  content: "\e900"
  color: #fff

.icon-share:before 
  content: "\e901"
  color: #fff

