@font-face 
  font-family: 'cm-icon'
  src:  url('../fonts/cm-icon.eot?icqep2')
  src:  url('../fonts/cm-icon.eot?icqep2#iefix') format('embedded-opentype'),
      url('../fonts/cm-icon.ttf?icqep2') format('truetype'),
      url('../fonts/cm-icon.woff?icqep2') format('woff'),
      url('../fonts/cm-icon.svg?icqep2#cm-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cm-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-music-playing:before 
  content: "\e912"
.icon-music-repeat-track:before 
  content: "\e913"
.icon-music-shuffle:before 
  content: "\e914"
.icon-music-lyrics-play:before 
  content: "\e911"
.icon-album:before 
  content: "\e91e"
.icon-artist:before 
  content: "\e91f"
.icon-collection:before 
  content: "\e920"
.icon-effect:before 
  content: "\e921"
.icon-from:before 
  content: "\e922"
.icon-music-next:before 
  content: "\e924"
.icon-music-playlist:before 
  content: "\e925"
.icon-music-pausing:before 
  content: "\e926"
.icon-music-prev:before 
  content: "\e927"
.icon-music-repeat-list:before 
  content: "\e928"
.icon-music-volume:before 
  content: "\e929"
.icon-comment-num:before 
  content: "\e92a"
.icon-listen:before 
  content: "\e90d"
.icon-close:before 
  content: "\e900"
.icon-checkbox:before 
  content: "\e901"
.icon-download:before 
  content: "\e902"
.icon-comment:before 
  content: "\e903"
.icon-share:before 
  content: "\e904"
.icon-video:before 
  content: "\e905"
.icon-SQ:before 
  content: "\e906"
.icon-search:before 
  content: "\e907"
.icon-right-arrow-more:before 
  content: "\e908"
.icon-rank:before 
  content: "\e909"
.icon-play:before 
  content: "\e90a"
.icon-more:before 
  content: "\e90b"
.icon-love:before 
  content: "\e90c"
.icon-left-arrow:before 
  content: "\e90e"
.icon-kudo:before 
  content: "\e90f"
.icon-info:before 
  content: "\e910"
